<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pelican и новая тема</title>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="stylesheet" href="http://romeogolf.github.io/theme/css/styles.css" type="text/css" />
  <link rel="stylesheet" type="text/css"  href="http://romeogolf.github.io/theme/css/pygments.css"/>
  <link rel="shortcut icon" type="image/png" href="http://romeogolf.github.io/images/RG32.ico" />
  <script language="JavaScript" src="http://romeogolf.github.io/theme/js/protector.js"></script>
</head>
<body>
  <header class="main-header">
    <div>
      <img src="http://romeogolf.github.io/images/72.png" style="margin-left: 34px; margin-top: 30px;"> <a id="name" href=http://romeogolf.github.io id="home-link">RomeoGolf</a>
    </div>
  </header>
    <nav class="nav_base">
      <ul class="main-nav">
          <li class="active"><a href="http://romeogolf.github.io/category/blog.html">Блог</a></li>
          <li><a href="http://romeogolf.github.io/category/tvorchestvo.html">Творчество</a></li>


          <li>
            <a href="http://romeogolf.github.io/pages/triangulum-soft.html">Triangulum Soft</a>
          </li>
          <li>
            <a href="http://romeogolf.github.io/pages/o-saite.html">О сайте</a>
          </li>
      </ul>
    </nav>
  <div class="layout">

    <div class="sidebar">
      <div class="tagcloud">
        Теги:
        <ul class="tagcloud">
          <li class="tag-4">
            <a href="http://romeogolf.github.io/tag/batcmd.html">
              bat/cmd
                <span class="badge">1</span>
            </a>
          </li>
          <li class="tag-2">
            <a href="http://romeogolf.github.io/tag/linux.html">
              linux
                <span class="badge">3</span>
            </a>
          </li>
          <li class="tag-3">
            <a href="http://romeogolf.github.io/tag/markdown.html">
              markdown
                <span class="badge">2</span>
            </a>
          </li>
          <li class="tag-2">
            <a href="http://romeogolf.github.io/tag/pelican.html">
              pelican
                <span class="badge">6</span>
            </a>
          </li>
          <li class="tag-3">
            <a href="http://romeogolf.github.io/tag/rfquiz.html">
              rfquiz
                <span class="badge">2</span>
            </a>
          </li>
          <li class="tag-4">
            <a href="http://romeogolf.github.io/tag/tar.html">
              tar
                <span class="badge">1</span>
            </a>
          </li>
          <li class="tag-3">
            <a href="http://romeogolf.github.io/tag/triangulum.html">
              triangulum
                <span class="badge">2</span>
            </a>
          </li>
          <li class="tag-1">
            <a href="http://romeogolf.github.io/tag/usb-polygon.html">
              usb-polygon
                <span class="badge">15</span>
            </a>
          </li>
          <li class="tag-3">
            <a href="http://romeogolf.github.io/tag/windows.html">
              windows
                <span class="badge">2</span>
            </a>
          </li>
          <li class="tag-2">
            <a href="http://romeogolf.github.io/tag/nishchebrod.html">
              нищеброд
                <span class="badge">3</span>
            </a>
          </li>
          <li class="tag-2">
            <a href="http://romeogolf.github.io/tag/pokhodnoe.html">
              походное
                <span class="badge">3</span>
            </a>
          </li>
          <li class="tag-3">
            <a href="http://romeogolf.github.io/tag/raznoe.html">
              разное
                <span class="badge">2</span>
            </a>
          </li>
          <li class="tag-3">
            <a href="http://romeogolf.github.io/tag/remont.html">
              ремонт
                <span class="badge">2</span>
            </a>
          </li>
          <li class="tag-4">
            <a href="http://romeogolf.github.io/tag/samodelki.html">
              самоделки
                <span class="badge">1</span>
            </a>
          </li>
          <li class="tag-3">
            <a href="http://romeogolf.github.io/tag/svoimi-rukami.html">
              своими руками
                <span class="badge">2</span>
            </a>
          </li>
          <li class="tag-2">
            <a href="http://romeogolf.github.io/tag/stikhi.html">
              стихи
                <span class="badge">3</span>
            </a>
          </li>
        </ul>
      </div> <!-- tagcloud -->
    </div> <!-- sidebar -->

    <div class="content">
  <section class="main-section blog-section" id="blog-posts">
    <h4 class="date">Вт 19 Январь 2016</h4>
    <article>
      <h1>Pelican и новая тема</h1>
      
      <h2 id="_1">Начнем с нуля</h2>
<p>Тема notmyidea сама по себе выглядит неплохо и вполне допускает правку под свои нужды. Но поступим экстремальнее &mdash; сделаем всё с самого начала. В корне проекта сайта, в нашем случае &mdash; <code>D:\site\</code>, создаем папку themes, там делаем папку nanotheme, а в ней &mdash; папки static и templates. Почему nano? Во-первых, это модно, во-вторых, в этой теме будет предельный минимум, только для примера, чтобы хоть как-то работало.</p>
<p>В папке templates создадим base.html, текстовый файл в UTF-8. Непременный, обязательный базовый шаблон, который будет определять общую разметку для всех страниц, подчиняющихся нашей теме. Ну, и набросаем общий внешний вид:</p>
<div class="highlight"><pre><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html&gt;</span>
  <span class="nt">&lt;head&gt;</span>
    <span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">&quot;utf-8&quot;</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;title&gt;</span>будет заголовок<span class="nt">&lt;/title&gt;</span>
  <span class="nt">&lt;/head&gt;</span>
  <span class="nt">&lt;body&gt;</span>
    <span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">&quot;main-header&quot;</span><span class="nt">&gt;</span>
      будет хедер
    <span class="nt">&lt;/header&gt;</span>
    <span class="nt">&lt;nav&gt;</span>
      Будет главное меню
    <span class="nt">&lt;/nav&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;content&quot;</span><span class="nt">&gt;</span>
      Будет контент
    <span class="nt">&lt;/div&gt;</span> 
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;footer&quot;</span><span class="nt">&gt;</span>
      будет футер
    <span class="nt">&lt;/div&gt;</span> 
  <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>


<p>Если этот файл посмотреть в браузере, то можно увидеть тупо четыре строчки:<br />
будет хедер<br />
Будет главное меню<br />
Будет контент<br />
будет футер  </p>
<p>А если запустить генерацию страниц сайта, то в результате мы вообще не увидим изменений. Оно и понятно &mdash; тема-то в настройках все еще подключена старая. Давайте переподключим. Найдем в pelicanconf.py строчку</p>
<div class="highlight"><pre><span class="n">THEME</span> <span class="o">=</span> <span class="s">&#39;notmyidea&#39;</span>
</pre></div>


<p>и заменим ее на </p>
<div class="highlight"><pre><span class="n">THEME</span> <span class="o">=</span> <span class="s">&#39;themes/nanotheme&#39;</span>
</pre></div>


<p>Как вариант, можно не заменять, а поставить в начале исходной строки знак комментария #, а новую просто поставить чуть ниже (если хотите &mdash; чуть выше).</p>
<p>И вот теперь после генерации сайта мы увидим изменения. А именно: мы увидим эти же четыре строчки, что и в base.html, на любой сгенерированной странице сайта. Это не то, что нам бы хотелось, но именно то, что мы заказывали. Значит, надо научиться заказывать то, что мы хотим. </p>
<h2 id="_2">От простой разметки &mdash; к шаблону</h2>
<p>Для того, чтобы сделать из примитивной веб-странички примитивный шаблон для Pelican, надо использовать <a href="http://jinja.pocoo.org/docs/">jinja2</a> &mdash; движок сайтовых шаблонов для Python. Вставляя конструкции дзиндзя в текст разметки, мы даем генератору сайта понять, в каком месте шаблона мы хотим видеть некоторую информацию, и где ее взять. Строго говоря, эти конструкции будут работать в любом языке разметки, но, раз уж делаем сайт, нас интересует конкретно HTML.</p>
<p>Самыми употребимыми (глядя на код шаблонов нескольких скачанных тем) будут блоки и переменные. </p>
<div class="highlight"><pre><span class="nt">&lt;title&gt;</span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="nt">&lt;/title&gt;</span>
<span class="nt">&lt;h1&gt;</span><span class="cp">{{</span> <span class="nv">a_title</span> <span class="cp">}}</span><span class="nt">&lt;/h1&gt;</span>
</pre></div>


<p>Первая конструкция позволяет в дочернем шаблоне создать именованный блок (с именем title), и содержимое этого блока будет подставлено на место, определенное в родительском шаблоне. Вторая конструкция вместо переменной языка Python вставит ее значение. А значение, в свою очередь, может быть, например, задано в файле конфигурации pelicanconf.py или определяться при помощи метаданных статьи или страницы.</p>
<p>Вообще-то, блоки являются подмножеством операторов, а переменные &mdash; подмножеством выражений:</p>
<ul>
<li>{% &hellip; %} &mdash; для операторов</li>
<li>{{ &hellip; }} &mdash; для выражений (печать вывода шаблона)</li>
<li>{# &hellip; #} &mdash; для комментариев, которые не включаются в вывод шаблона</li>
<li>#  &hellip; ## &mdash; для линейных выражений (в отличие от блочных, на одну строку)</li>
</ul>
<p>но подробный разбор синтаксиса jinja2 займет слишком много места и времени, чтобы заниматься им прямо здесь и прямо сейчас.</p>
<p>Давайте попробуем воткнуть парочку блоков и переменных. Что касается переменных &mdash; как минимум, мы имеем в настройках AUTHOR и SITENAME. Типовые названия некоторых блоков можно подсмотреть в других темах. Итак, правим базовый шаблон:</p>
<div class="highlight"><pre><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html&gt;</span>
  <span class="nt">&lt;head&gt;</span>
    <span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">&quot;utf-8&quot;</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;title&gt;</span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}{{</span><span class="nv">SITENAME</span><span class="cp">}}{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="nt">&lt;/title&gt;</span>
    <span class="cp">{%</span> <span class="k">block</span> <span class="nv">head</span> <span class="cp">%}{%</span> <span class="k">endblock</span> <span class="cp">%}</span>
  <span class="nt">&lt;/head&gt;</span>
  <span class="nt">&lt;body&gt;</span>
    <span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">&quot;main-header&quot;</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">id=</span><span class="s">&quot;name&quot;</span> <span class="na">href=</span><span class="cp">{{</span> <span class="nv">SITEURL</span> <span class="cp">}}</span> <span class="s">id=&quot;home-link&quot;</span><span class="nt">&gt;</span><span class="cp">{{</span> <span class="nv">SITENAME</span> <span class="cp">}}</span><span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/header&gt;</span>
    <span class="nt">&lt;nav&gt;</span>
      <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">&quot;main-nav&quot;</span><span class="nt">&gt;</span>
        <span class="cp">{%</span> <span class="k">for</span> <span class="nv">cat</span><span class="o">,</span> <span class="nv">null</span> <span class="k">in</span> <span class="nv">categories</span> <span class="cp">%}</span>
          <span class="nt">&lt;li</span> <span class="cp">{%</span> <span class="k">if</span> <span class="nv">cat</span> <span class="o">==</span> <span class="nv">category</span> <span class="cp">%}</span><span class="na">class=</span><span class="s">&quot;active&quot;</span><span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;</span><span class="cp">{{</span> <span class="nv">SITEURL</span> <span class="cp">}}</span><span class="s">/</span><span class="cp">{{</span> <span class="nv">cat.url</span> <span class="cp">}}</span><span class="s">&quot;</span><span class="nt">&gt;</span><span class="cp">{{</span> <span class="nv">cat</span> <span class="cp">}}</span><span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/li&gt;</span>
        <span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span>

        <span class="cp">{%</span> <span class="k">if</span> <span class="nv">DISPLAY_PAGES_ON_MENU</span> <span class="cp">%}</span>
          <span class="cp">{%</span> <span class="k">for</span> <span class="nv">current_page</span> <span class="k">in</span> <span class="nv">PAGES</span> <span class="cp">%}</span>
            <span class="nt">&lt;li</span> <span class="cp">{%</span> <span class="k">if</span> <span class="nv">current_page</span> <span class="o">==</span> <span class="nv">page</span> <span class="cp">%}</span><span class="na">class=</span><span class="s">&quot;active&quot;</span><span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="nt">&gt;</span>
          <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;</span><span class="cp">{{</span> <span class="nv">SITEURL</span> <span class="cp">}}</span><span class="s">/</span><span class="cp">{{</span> <span class="nv">current_page.url</span> <span class="cp">}}</span><span class="s">&quot;</span><span class="nt">&gt;</span><span class="cp">{{</span> <span class="nv">current_page.title</span> <span class="cp">}}</span><span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/li&gt;</span>
          <span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span>
        <span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span>
      <span class="nt">&lt;/ul&gt;</span>
    <span class="nt">&lt;/nav&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;content&quot;</span><span class="nt">&gt;</span>
      <span class="cp">{%</span> <span class="k">block</span> <span class="nv">main_section</span> <span class="cp">%}{%</span> <span class="k">endblock</span> <span class="cp">%}</span>
    <span class="nt">&lt;/div&gt;</span> 
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;footer&quot;</span><span class="nt">&gt;</span>
      <span class="ni">&amp;copy;</span> <span class="cp">{{</span><span class="nv">AUTHOR</span><span class="cp">}}</span>
    <span class="nt">&lt;/div&gt;</span> 
  <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>


<p>В результате base.html будет выглядеть уже так:</p>
<pre style="overflow:auto;">
{% block head %}{% endblock %}
{{ SITENAME }}

    {% for cat, null in categories %}
    {{ cat }}
    {% endfor %} {% if DISPLAY_PAGES_ON_MENU %} {% for current_page in PAGES %}
    {{ current_page.title }}
    {% endfor %} {% endif %} 

{% block main_section %}{% endblock %}
© {{AUTHOR}} 
</pre>

<p>а откомпилированные страницы сайта, соответственно, так:</p>
<pre>
Site

    Разное
    Рыба
    О сайте

© Me 
</pre>

<p>причем, ссылки &laquo;меню&raquo; кликабельны, что можно увидеть по изменению адреса в адресной строке браузера. Но все страницы выглядят совершенно одинаково. </p>
<p>В этом шаблоне мы:</p>
<ul>
<li>в теге <code>&lt;title&gt;</code> указали заголовок сайта, отображаемый в панели и вкладке браузера &mdash; взяли его из переменной SITENAME, указанной в  pelicanconf.py;</li>
<li>в теге <code>&lt;header&gt;</code> сделали заголовок сайта из этой же переменной;</li>
<li>в теге <code>&lt;nav&gt;</code> изобразили меню сайта:<ul>
<li>сперва при помощи оператроа <code>for</code> перечислили все категории, которые Python наковырял из метаданных наших статей, причем, обернули названия категорий в тег <code>&lt;a&gt;</code>, чтобы получились ссылки;</li>
<li>затем при помощи оператора <code>if</code> проверили переменную, заданную в файле конфигурации, которая разрешает указание в меню не только статей, но и страниц;</li>
<li>убедившись, что страницы тоже можно перечислить в меню, опять же при помощи <code>for</code> сделали список страниц, которых у нас пока одна &mdash; &laquo;О сайте&raquo;;</li>
</ul>
</li>
<li>в html-блоке <code>content</code> добавили jinja-блок <code>main_section</code> &mdash; для наследников;</li>
<li>в футере нарисовали значок копирайта с указанием автора, а автора взяли опять же из файла конфигурации, переменная AUTHOR.</li>
</ul>
<h2 id="_3">Добавляем шаблоны</h2>
<p>Но у нас нет шаблона для главной страницы сайта, которая index, а также для страницы со списком категорий, тегов и, собственно, самих статей, поэтому все страницы одинаковые &mdash; к ним применяется единственный шаблон. Сделаем index.html. В нем первым делом укажем, что он расширяет базовый. Потом в <code>main_section</code> перечислим имеющиеся статьи, запихав их в соответствующие html-теги, не забыв указать краткое содержание (article.summary). Должно получиться примерно так:</p>
<div class="highlight"><pre>{% extends &#39;base.html&#39; %}
{% block main_section %}
  &lt;section class=&quot;main-section blog-section&quot; id=&quot;blog-posts&quot;&gt;
  {% for article in articles_page.object_list %}
    &lt;h3 class=&quot;date&quot;&gt;{{article.locale_date}}&lt;/h3&gt;
      &lt;article&gt;
    &lt;h2&gt;
      &lt;a href=&quot;{{SITEURL}}/{{article.url}}&quot;&gt;{{article.title}}
      &lt;/a&gt;
    &lt;/h2&gt;
    {{article.summary}}
    &lt;/article&gt;
  {% endfor %}
  &lt;/section&gt;
{% endblock %}
</pre></div>


<p>Шаблон для статей будет называться article.html, тоже расширяет базовый. В заголовке мы его попросим показать не имя сайта, а название статьи. В главной секции укажем дату статьи (сформированную в соответствии с локалью), заголовок статьи и сам текст (article.content). После текста статьи перечислим теги, если они есть, то есть, сперва проверим наличие, а потом нарисуем список, в котором каждый тег сделан ссылкой на список статей с таким тегом:</p>
<div class="highlight"><pre>{% extends &#39;base.html&#39; %}
{% block title %}{{article.title}}{% endblock %}

{% block main_section %}
&lt;section class=&quot;main-section blog-section&quot; id=&quot;blog-posts&quot;&gt;
  &lt;h3 class=&quot;date&quot;&gt;{{article.locale_date}}&lt;/h3&gt;
  &lt;article&gt;
    &lt;h2&gt;{{article.title}}&lt;/a&gt;&lt;/h2&gt;
    {{article.content}}
    &lt;br/&gt;   
      &lt;footer&gt;
        {% if article.tags %}
          &lt;div&gt;
      &lt;div&gt;Теги:&lt;/div&gt;
          &lt;div class=&quot;taglist&quot;&gt;
            &lt;ul class=&quot;tags&quot;&gt;
              {% for tag in article.tags %}
                &lt;li&gt;&lt;a href=&quot;{{ SITEURL }}/{{ tag.url }}&quot; class=&quot;tag&quot;&gt;{{tag}}&lt;/a&gt;&lt;/li&gt;
              {% endfor %}
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        {% endif %}
      &lt;/footer&gt;
  &lt;/article&gt;
&lt;/section&gt;
{% endblock %}
</pre></div>


<p>Для страниц, точнее, для пока единственной нашей страницы, нужен шаблон page.html, похожий на шаблон статей, только проще, без тегов:</p>
<div class="highlight"><pre>{% extends &quot;base.html&quot; %}
{% block title %}{{ page.title }}{% endblock %}
{% block main_section %}
  &lt;section class=&quot;main-section&quot;&gt;
    &lt;h1 class=&quot;entry-title&quot;&gt;{{ page.title }}&lt;/h1&gt;
    &lt;br /&gt;&lt;br /&gt;
    {{ page.content }}
  &lt;/section&gt;
{% endblock %}
</pre></div>


<p>Ну, и для выбора страниц по тегу нужен шаблон tag.html: </p>
<div class="highlight"><pre>{% extends &#39;base.html&#39; %}
{% block title %}Статьи с тегом &#39;{{tag}}&#39; | {{ SITENAME }} {% endblock %}
{% block main_section %}
  &lt;section class=&quot;main-section blog-section&quot; id=&quot;blog-posts&quot;&gt;
    {% for article in articles %}
      &lt;h3 class=&quot;date&quot;&gt;{{article.locale_date}}&lt;/h3&gt;
      &lt;article&gt;
        &lt;h2&gt;&lt;a href=&quot;{{SITEURL}}/{{article.url}}&quot;&gt;{{article.title}}&lt;/a&gt;&lt;/h2&gt;
        {{article.summary}}
      &lt;/article&gt;
    {% endfor %}
  &lt;/section&gt;
{% endblock %}
</pre></div>


<p>Итак, <code>D:\site\themes\nanotheme\templates\</code> содержит пять файлов шаблонов. Вернемся в корень проекта сайта и запустим сборку. Теперь гиперссылки работают вменяемо. Ну, название сайта по-прежнему открывает содержимое корневой папки, но это нормально. Зато заголовок статьи ведет на страницу статьи, теги открывают страницу со списком статей с таким тегом, категории &mdash; на страницу со списком статей в данной категории.</p>
<p>Ой! А почему? Мы же не делали шаблон для categories.html, а он работает! Это как?
А так. <a href="http://docs.getpelican.com/en/3.6.3/themes.html#inheritance">Документация</a> рассказывает нам (правда, по-английски), что если какого-то из настоятельно необходимых шаблонов не окажется в папке templates, то вместо него будет использоваться соответствующий шаблон темы simple. И вообще, дескать, если вас устраивает HTML-структура шаблона этой умолчательной темы, то не надо писать собственных велосипедов. Тем более, что можно унаследоваться от шаблонов этой темы и чутка расширить их. Ну что ж, в отношении шаблона categories так и поступим.</p>
<h2 id="_4">Подключение стилей</h2>
<p>У нас теперь есть разметка разного рода страниц сайта. Но нет оформления, какая же это тема? Да никакая. Чтобы она стала хоть какая-нибудь, надо ей добавить стили. Значит, идем в папку <code>D:\site\themes\nanotheme\static\</code> и делаем там папку <code>css</code>, а в ней файл styles.css:</p>
<div class="highlight"><pre><span class="nt">body</span> <span class="p">{</span>  <span class="c">/* установим серенький цвет фона и размер полей */</span>
    <span class="k">background-color</span><span class="o">:</span> <span class="m">#CCC</span><span class="p">;</span>
    <span class="k">margin</span><span class="o">:</span> <span class="m">25px</span><span class="p">;</span>
<span class="p">}</span>

<span class="nc">.main-header</span><span class="o">,</span> <span class="nc">.content</span><span class="o">,</span> <span class="nc">.footer</span> <span class="p">{</span> 
    <span class="k">padding</span><span class="o">:</span> <span class="m">10px</span><span class="p">;</span> <span class="c">/* внутриблочные отступы до границы */</span>
    <span class="k">margin</span><span class="o">:</span> <span class="m">20px</span><span class="p">;</span> <span class="c">/* отступы между блоками страницы */</span>
    <span class="k">outline</span><span class="o">:</span> <span class="k">solid</span> <span class="m">1px</span> <span class="m">#000</span><span class="p">;</span> <span class="c">/* черненькая тоненькая рамочка */</span>
    <span class="k">background-color</span><span class="o">:</span> <span class="m">#FFF</span><span class="p">;</span> <span class="c">/* и белый цвет фона */</span>
    <span class="k">min-width</span><span class="o">:</span> <span class="m">600px</span><span class="p">;</span> <span class="c">/* позволим тянуться, */</span>
    <span class="k">max-width</span><span class="o">:</span> <span class="m">800px</span><span class="p">;</span> <span class="c">/* но в определенных пределах */</span>
<span class="p">}</span>

<span class="nc">.main-header</span> <span class="p">{</span> 
    <span class="k">height</span><span class="o">:</span> <span class="m">200px</span><span class="p">;</span> <span class="c">/* ограничим высоту */</span>
    <span class="k">background-color</span><span class="o">:</span> <span class="m">#aaa</span><span class="p">;</span> <span class="c">/* и подменим цвет */</span>
<span class="p">}</span>

<span class="nt">h1</span> <span class="nt">a</span><span class="nd">:hover</span> <span class="p">{</span>
    <span class="c">/* чтобы ссылка-заголовок при наведении не меняла цвет */</span>
    <span class="k">background-color</span><span class="o">:</span> <span class="k">inherit</span>
<span class="p">}</span>

<span class="nf">#name</span> <span class="p">{</span>
    <span class="c">/* для текста названия сайта - размер, шрифт и рюшечки */</span>
    <span class="k">font-size</span><span class="o">:</span> <span class="m">350%</span><span class="p">;</span> 
    <span class="k">font-family</span><span class="o">:</span> <span class="n">Arial</span><span class="p">;</span>
    <span class="k">text-decoration</span><span class="o">:</span> <span class="k">none</span><span class="p">;</span> <span class="c">/* Убираем подчёркивание */</span>
    <span class="k">color</span><span class="o">:</span> <span class="m">#fff</span><span class="p">;</span> <span class="c">/* Цвет текста белый */</span>
<span class="p">}</span>

<span class="nc">.main-nav</span> <span class="p">{</span>
    <span class="k">height</span><span class="o">:</span> <span class="m">30px</span><span class="p">;</span>
    <span class="k">margin-top</span><span class="o">:</span> <span class="m">-50px</span><span class="p">;</span>
<span class="p">}</span>

<span class="nc">.main-nav</span> <span class="nt">li</span> <span class="p">{</span>
    <span class="k">display</span><span class="o">:</span> <span class="k">inline</span><span class="o">-</span><span class="k">block</span><span class="p">;</span> <span class="c">/* Строчно-блочные элементы */</span>
    <span class="k">background-color</span><span class="o">:</span> <span class="m">#551111</span><span class="p">;</span> <span class="c">/* Цвет фона */</span>
    <span class="k">margin-right</span><span class="o">:</span> <span class="m">3px</span><span class="p">;</span> <span class="c">/* Расстояние между пунктами меню */</span>
<span class="p">}</span>

<span class="nc">.main-nav</span> <span class="nt">a</span> <span class="p">{</span>
    <span class="k">color</span><span class="o">:</span> <span class="m">#fff</span><span class="p">;</span> <span class="c">/* Цвет ссылок */</span>
    <span class="k">display</span><span class="o">:</span> <span class="k">block</span><span class="p">;</span> <span class="c">/* Блочный элемент */</span>
    <span class="k">padding</span><span class="o">:</span> <span class="m">5px</span> <span class="m">15px</span><span class="p">;</span> <span class="c">/* Поля вокруг текста */</span>
    <span class="k">text-decoration</span><span class="o">:</span> <span class="k">none</span><span class="p">;</span> <span class="c">/* Убираем подчёркивание */</span>
<span class="p">}</span>

<span class="nc">.main-nav</span> <span class="nt">li</span><span class="nd">:hover</span> <span class="p">{</span>
    <span class="k">background-color</span><span class="o">:</span> <span class="m">#881144</span><span class="p">;</span> <span class="c">/* Цвет фона при наведении курсора мыши */</span>
<span class="p">}</span>

<span class="nc">.main-nav</span> <span class="nt">li</span><span class="nc">.active</span> <span class="p">{</span>
    <span class="k">background-color</span><span class="o">:</span> <span class="m">#881144</span><span class="p">;</span> <span class="c">/* Цвет фона при наведении курсора мыши */</span>
<span class="p">}</span>

<span class="nc">.tags</span> <span class="nt">li</span> <span class="p">{</span>
    <span class="c">/* для списка тегов к статье, чтобы они были в одну строку */</span>
    <span class="k">display</span><span class="o">:</span> <span class="k">inline</span><span class="o">-</span><span class="k">block</span><span class="p">;</span> <span class="c">/* Строчно-блочные элементы */</span>
    <span class="k">margin-right</span><span class="o">:</span> <span class="m">3px</span><span class="p">;</span> <span class="c">/* Расстояние между пунктами меню */</span>
<span class="p">}</span>
</pre></div>


<p>Надо еще не забыть подключить эти стили в базовом шаблоне base.html, например, сразу после тега <code>&lt;title&gt;</code>:</p>
<div class="highlight"><pre>    <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href=</span><span class="s">&quot;{{ SITEURL }}/theme/css/styles.css&quot;</span> <span class="na">type=</span><span class="s">&quot;text/css&quot;</span> <span class="nt">/&gt;</span>
</pre></div>


<p>Ни в коем случае не претендую на то, что создал прекрасный образец стиля. Цветовая гамма сомнительная, решение задать размер шрифта в процентах спорное. Однако такого CSS достаточно для того, чтобы показать: тема заработала так, как мы ожидали.</p>
<p>В нее еще многое можно напихать. Добавить шаблоны страниц для категорий и авторов, обозначить поведение, связанное с архивацией старых статей, включить ограничение количества статей на странице, дорисовать сайдбар (а может, и два, с обеих сторон), добавить плагины для облака тегов или карты сайта, нарисовать фон, логотип и иконку favicon, подобрать вменяемый набор цветов для оформления&hellip; В общем, хватает работы для дизайнера, верстальщика, контент-менеджера и всех остальных работников веб-студии, которых приходится представлять в единственном числе в собственном лице.</p>
<h2 id="_5">Всё еще впереди</h2>
<p>Чтобы сделать &laquo;идеальный&raquo; по своим требованиям шаблон (с точки зрения функциональности), надо хорошо представлять себе настройки Pelican и хотя бы в общих чертах иметь представление о jinja2.</p>
<p>Чтобы сделать качественную разметку шаблона (с точки зрения внешнего вида), надо иметь знания в области HTML, CSS, местами &mdash; JavaScript, и в общих чертах представлять, как это все работает в разных браузерах.</p>
<p>Чтобы сайт не вызывал отвращения у посетителей, надо быть хоть немного дизайнером, ну, или хотя бы обладать зачатками вкуса. К сожалению, этот параметр трудно оценить у себя самостоятельно&hellip;</p>
<p>Чтобы наполнять сайт контентом, надо уметь пользоваться языком разметки Markdown, но местами придется вставлять и HTML, при этом, надо знать язык статьи (русский, например, но хотелось бы иногда и английский) хотя бы на четверочку, владеть словом, а для привлекательного оформления уметь рисовать и фотографировать.</p>
<p>Как же много требований&hellip; Но не надо сдаваться! Тем более, никто не будет подходить к оценке блога с той же позиции, что и к оценке сайта профессионала-дизайнера или серезной промышленной компании. В конце концов, можно остановиться на простом минималистичном дизайне и наращивать только удобство пользования.</p>
      <br/>	
      <footer>
          <div>
            <div>Теги:</div>
            <div class="taglist">
              <ul class="tags">
                <li><a href="http://romeogolf.github.io/tag/pelican.html" class="tag">pelican</a></li>
              </ul>
            </div>
          </div>
        <br/>
        <div class="comments">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_identifier = "pelican-i-novaia-tema.html";
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://romeogolf.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
          </script>
          <noscript>
            <div>Для чтения и написания комментариев требуется включить JavaScript.</div>
	  </noscript>
        </div>
      </footer>
    </article>
  </section>
    </div> <!-- content -->
    
  </div> <!-- layout -->

  <div class="footer">
    &copy; 2016 RomeoGolf


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72333148-1', 'auto');
  ga('send', 'pageview');

</script>

<!--    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-72333148-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script> -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter35090040 = new Ya.Metrika({
                    id:35090040,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/35090040" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </div> <!-- footer -->

</body>
</html>