/*@import "./pygment.css";*/

/* main-color: 3EC000 */

body {
    /*background-color: #839F28;*/
    background-color: #FFF;
    margin: 25px;
}

.sidebar, .content, .footer { 
    padding: 10px; /* */
    outline: solid 1px #000; /*  */
    background-color: #FFF; /*  */
    overflow: auto;
}

.main-header { 
    /*padding: 10px; /* */
    height: 200px;
    /*border-style: solid; /*  */
    /*border-color: #000; /*  */
    /*border-width: 1px; /*  */
    /*border: solid 1px #000; /*  */
    outline: solid 1px #000; /*  */
    background: #287D00; /*  */
}

.layout {
    margin: 15px 0; /*  */ 
    /*overflow: hidden; /*  */
    min-width: 850px; /*  */
    max-width: 1220px; /*  */
}

.sidebar { /*  */
    width: 200px; /*  */
    float: right; /*  */
}
   
.content { /*  */
    margin-right: 235px; /*  */
    min-width: 600px; /*  */
}

.footer {
    min-width: 850px; /*  */
    max-width: 1200px; /*  */
}

/* for tag cloud */
ul.tagcloud {
    list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}

li.tag-3 {
    font-size: 90%;
}

ul.tagcloud .list-group-item <span>.badge {
    background-color: grey;
    color: white;
}


h1 a:hover {
    background-color: inherit
}
	
.main-header {
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-image: url(../../images/backgnd_header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;

    min-width: 850px; /*  */
    max-width: 1220px; /*  */

    /*-moz-background-size: 100%; /* Firefox 3.6+ */
    /*-webkit-background-size: 100%; /* Safari 3.1+ ? Chrome 4.0+ */
    /*-o-background-size: 100%; /* Opera 9.6+ */
    /*background-size: 100%; /* ??????????? ???????? */

    background-color: #aaa;
}

#name {
    font-size: 350%;
    font-family: Arial;
    text-decoration: none; /* ??????? ????????????? */
    color: #fff; /* ???? ?????? */
    position: relative;
    top: -25px;
}

/*.main-nav {*/
.nav_base {
    height: 30px;
    /*margin-top: -30px;*/
    margin-top: -45px;
}

.main-nav li {
    display: inline-block; /* ???????-??????? ???????? */
    background-color: #009169; /* ???? ???? */
    margin-right: 3px; /* ?????????? ????? ???????? ???? */
    margin-bottom: 0px; /* ?????????? ????? ???????? ???? */
    -webkit-transform: skewX(-30deg); /* ??? Safari ? Chrome */
    -moz-transform: skewX(-30deg); /* ??? Firefox */
    -o-transform: skewX(-30deg); /* ??? Opera */
    -ms-transform: skewX(-30deg); /* ??? IE */
    transform: skewX(-30deg); /* CSS3 */
    /*opacity: 0.5; /* ???????? ???????????? */
    /*filter: alpha(Opacity=50); /* ???????????? ? IE */
}

.main-nav a {
    color: #fff; /* ???? ?????? */
    display: block; /* ??????? ??????? */
    padding: 5px 15px; /* ???? ?????? ?????? */
    text-decoration: none; /* ??????? ????????????? */
    -webkit-transform: skewX(30deg); /* ??? Safari ? Chrome */
    -moz-transform: skewX(30deg); /* ??? Firefox */
    -o-transform: skewX(30deg); /* ??? Opera */
    -ms-transform: skewX(30deg); /* ??? IE */
    transform: skewX(30deg); /* CSS3 */
}

.main-nav li:hover {
    background-color: #005F44; /* ???? ???? ??? ????????? ??????? ???? */
}

.main-nav li.active {
    background-color: #005F44; /* ???? ???? ??? ????????? ??????? ???? */
}

.tags li {
    display: inline-block; /* ???????-??????? ???????? */
    margin-right: 3px; /* ?????????? ????? ???????? ???? */
    margin-bottom: 0px; /* ?????????? ????? ???????? ???? */
}

.taglist {
    /*float: right;*/
}

.highlight {
    background: #111;
    padding:.2em .9em;
    margin-bottom:1em;
    /*font:normal normal normal 115%/normal Monaco,'Courier New','DejaVu Sans Mono','Bitstream Vera Sans Mono',monospace!important;*/
    line-height:1.1em;
    border:1px solid #CCC;

    overflow: auto;
    /*padding: 5px;*/
    color: #eee;
/*    background-color: #111111;*/
    /*outline: 1px;*/
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px
}


.highlight pre {
}

code {
    background-color: #eee;
    outline: 1px;
}

.badge {
    /*width: 150px;*/
    height: 115px;
}

.soft_description {
    border: #999 1px solid;
}

.soft_summary, .soft_img {
    height: 144px;
    margin: 15px;
    padding: 7px;
    border: #AAA 1px solid;
}

.soft_summary  {
    background: #CBE969
}

.soft_img {
    float: left;
    width: 144px;
    background: #005F44
}

.equi_height {
    overflow: hidden;
}

.equi_height > div {
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 1000px;
    margin: 10px 50px -1000px 0px;
    background: none repeat scroll 0% 0% #8CE065;
}


