/*@import "./pygment.css";*/

/* main-color: 3EC000 */

/**********************/
/***** for layout *****/
/**********************/

body {
    background-color: #FFF;
    margin: 25px;
}

.sidebar, .content, .footer { 
    padding: 10px; /* */
    outline: solid 1px #000; /*  */
    background-color: #FFF; /*  */
    overflow: auto;
}

.main-header { 
    height: 200px;
    outline: solid 1px #000; /*  */
}

.layout {
    margin: 15px 0; /*  */ 
    min-width: 850px; /*  */
    max-width: 1220px; /*  */
}

.sidebar { /*  */
    width: 200px; /*  */
    float: right; /*  */
}
   
.content { /*  */
    margin-right: 235px; /*  */
    min-width: 600px; /*  */
}

.footer {
    min-width: 850px; /*  */
    max-width: 1200px; /*  */
}

/***************************/
/***** common elements *****/
/***************************/

/***** common font *****/
body {
    font-family:  Verdana, 'Geneva CY', 'DejaVu Sans', sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

/***** headers *****/
h1 {
    /*font-family: 'Arial Black', 'Helvetica CY', 'Nimbus Sans L', sans-serif;*/
    font-family:  Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 32pt;
    font-weight: normal;
    line-height: 40pt;
    color: #fff;
    background: #009169;
    margin: 1em 0 0.5em 0;
    padding: 7px 15px;
    border: 1px solid #009169;
    border-radius: 10px;
}
 
h2 {
    font-family: 'Arial Black', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 28pt;
    line-height: 40pt;
    color: #009169;
    margin: 1em 0 0.5em 0;
    padding: 7px 15px;
    border: 1px solid #009169;
    border-radius: 10px;
}
 
h3 {
    font-family: 'Arial Black', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 20pt;
    font-weight: normal;
    line-height: 40pt;
    color: #009169;

    margin: 1em 0 0.5em 0;
    border-bottom: 1px solid #009169;
}

h3.in_block {
    margin: 0.1em 0 0.3em 0;
}
 
h4 {
    font-family: 'Arial Black', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 16pt;
    line-height: 20pt;
    color: #009169;
}

h4.date {
    font-family:  Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    line-height: 1;
    margin-bottom: -15px;
}

h5 {
    font-family:  Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-size: 14pt;
    line-height: 20pt;
}

h1 a {
    color: #fff;
    background: #009169;
    text-decoration: none; /* */
}

h2 a, h3 a {
    display: block;
    text-decoration: none; /* */
    color: inherit;
}

h2.h2_a:hover, h3.h3_a:hover {
    color: #fff;
    background: #009169;
}

.main-header {
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-image: url(../img/backgnd_header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #1B6D56; /*  */

    min-width: 850px; /*  */
    max-width: 1220px; /*  */
}

#name {
    font-size: 350%;
    font-family: Arial;
    text-decoration: none; /* */
    color: #fff; /* */
    position: relative;
    top: -25px;
}

/***** navigation *****/
/*.main-nav {*/
.nav_base {
    height: 30px;
    /*margin-top: -30px;*/
    margin-top: -46px;
}

.main-nav li {
    display: inline-block; /* */
    background-color: #009169; /* */
    margin-right: 3px; /* */
    margin-bottom: 0px; /* */
    -webkit-transform: skewX(-30deg); /* Safari Chrome */
    -moz-transform: skewX(-30deg); /* Firefox */
    -o-transform: skewX(-30deg); /* Opera */
    -ms-transform: skewX(-30deg); /* IE */
    transform: skewX(-30deg); /* CSS3 */
}

.main-nav a {
    color: #fff; /* */
    display: block; /* */
    padding: 5px 15px; /* */
    text-decoration: none; /* */
    -webkit-transform: skewX(30deg); /* Safari Chrome */
    -moz-transform: skewX(30deg); /* Firefox */
    -o-transform: skewX(30deg); /* Opera */
    -ms-transform: skewX(30deg); /* IE */
    transform: skewX(30deg); /* CSS3 */
}

.main-nav li:hover {
    background-color: #005F44; /* */
}

.main-nav li.active {
    background-color: #005F44; /* */
}

/***** taglist *****/
.tags li {
    display: inline-block; /* */
    margin-right: 3px; /* */
    margin-bottom: 0px; /* */
}

.taglist {
    /*float: right;*/
}

/**** blockquote *****/
blockquote {
    min-width: 450px;
    max-width: 650px;
    padding: 10px 20px;
    background-color: #8CE065;
    border: 1px solid #009169;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #009169;
    font-style: italic;
}

/***** table *****/
.colortable + table {
    font-size: 12pt;
    border-collapse: collapse;
    border-radius: 10px;
    border-spacing: 0;
    border-color: white;
}
.colortable + table th {
    background: #005F44;
    color: white;
}
.colortable + table th, .colortable + table td:first-child {
    padding: 10px 20px;
}
.colortable + table th, .colortable + table td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 10px 20px;
}
.colortable + table td {
    background: #8CE065;
}
.colortable + table th:first-child, .colortable + table td:first-child {
    text-align: left;
}

.colortable + table th:first-child {
    border-top-left-radius: 10px;
}
.colortable + table th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
.colortable + table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.colortable + table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
.colortable + table tr td:last-child {
    border-right: none;
}

/***** definition list *****/
dt {
    color: #009169;
    font-size: 14pt;
    font-weight: bold;
    line-height: 1.7;
}

hr {
    color: #009169;
    height: 5px;
    border: 0;
    box-shadow: inset 0 5px 5px -5px #009169;
}

/***************************/
/***** for own classes *****/
/***************************/

.hide{
    display: none;
}

.visible{
    visibility: visible;
}

.protect {
    display: inline;
}

#protect {
    display: inline;
}

.badge {
    height: 115px;
}

.soft_description {
    border: #999 1px solid;
}

.soft_summary, .soft_img {
    height: 144px;
    margin: 15px;
    padding: 7px;
    border: #AAA 1px solid;
}

.soft_summary  {
    background: #CBE969;
}

.soft_img {
    float: left;
    width: 144px;
    background: #005F44;
}

.equi_height {
    overflow: hidden;
}

.equi_height > div {
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 1000px;
    margin: 10px 50px -1000px 0px;
    background: none repeat scroll 0% 0% #8CE065;
}

/******************************/
/***** for code highlight *****/
/******************************/

code, pre { /* for inline code */
    font-family: "Lucida Console", Monaco, 'DejaVu Sans Mono', monospace!important;
    font-size: .95em;
    background-color: #eee;
    padding: 2px 5px 2px 5px;
}

td.linenos { /* for line numbers */
    text-align: right;
}

.linenodiv{ /* to separate line numbers from code block*/
    border-right: 1px solid #009169;
}

.highlighttable { /* if a code block with line numbers */
    display: block; /* for autoscroll */
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0px;

    width: 100%;
    background-color: #111; /* same .highlight */
    padding: 0px;
    border: 1px solid #111;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.highlight pre, .linenodiv pre {
    background: #111;
    color: #ccc;
    font-family: "Lucida Console", Monaco, 'DejaVu Sans Mono', monospace!important;
    font-size: 10pt;
    font-weight : normal;
    line-height: 1.1;

    border: 1px solid #111;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    padding: 1em 1em;
    margin: 1em 0;

    overflow: auto;
}


/*************************/
/***** for tag cloud *****/
/*************************/
ul.tagcloud .list-group-item <span>.badge {
    background-color: grey;
    color: white;
}

ul.tagcloud {
    list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}

li.tag-3 {
    font-size: 90%;
}


