/*@import "./pygment.css";*/

body {
    /*background-color: #839F28;*/
    background-color: #FFF;
    margin: 25px;
}

.sidebar, .content, .footer { 
    padding: 10px; /* */
    outline: solid 1px #000; /*  */
    background-color: #FFF; /*  */
}

.main-header { 
    /*padding: 10px; /* */
    height: 200px;
    /*border-style: solid; /*  */
    /*border-color: #000; /*  */
    /*border-width: 1px; /*  */
    /*border: solid 1px #000; /*  */
    outline: solid 1px #000; /*  */
    background: #e3e8cc; /*  */
}

.layout {
    margin: 15px 0; /*  */ 
    /*overflow: hidden; /*  */
    min-width: 850px; /*  */
    max-width: 1220px; /*  */
}

.sidebar { /*  */
    width: 200px; /*  */
    float: right; /*  */
}
   
.content { /*  */
    margin-right: 235px; /*  */
    min-width: 600px; /*  */
}

.footer {
    min-width: 850px; /*  */
    max-width: 1200px; /*  */
}

/* for tag cloud */
ul.tagcloud {
    list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}

li.tag-3 {
    font-size: 90%;
}

ul.tagcloud .list-group-item <span>.badge {
    background-color: grey;
    color: white;
}


h1 a:hover {
    background-color: inherit
}
	
.main-header {
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-image: url(../../images/backgnd_header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;

    min-width: 850px; /*  */
    max-width: 1220px; /*  */

    /*-moz-background-size: 100%; /* Firefox 3.6+ */
    /*-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    /*-o-background-size: 100%; /* Opera 9.6+ */
    /*background-size: 100%; /* Современные браузеры */

    background-color: #aaa;
}

#name {
    font-size: 350%;
    font-family: Arial;
    text-decoration: none; /* Убираем подчёркивание */
    color: #fff; /* Цвет ссылок */
    position: relative;
    top: -25px;
}

.main-nav {
    height: 30px;
    margin-top: -30px;
}

.main-nav li {
    display: inline-block; /* Строчно-блочные элементы */
    background-color: #009169; /* Цвет фона */
    margin-right: 3px; /* Расстояние между пунктами меню */
    margin-bottom: 0px; /* Расстояние между пунктами меню */
    -webkit-transform: skewX(-30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(-30deg); /* Для Firefox */
    -o-transform: skewX(-30deg); /* Для Opera */
    -ms-transform: skewX(-30deg); /* Для IE */
    transform: skewX(-30deg); /* CSS3 */
    /*opacity: 0.5; /* Значение прозрачности */
    /*filter: alpha(Opacity=50); /* Прозрачность в IE */
}

.main-nav a {
    color: #fff; /* Цвет ссылок */
    display: block; /* Блочный элемент */
    padding: 5px 15px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    -webkit-transform: skewX(30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(30deg); /* Для Firefox */
    -o-transform: skewX(30deg); /* Для Opera */
    -ms-transform: skewX(30deg); /* Для IE */
    transform: skewX(30deg); /* CSS3 */
}

.main-nav li:hover {
    background-color: #005F44; /* Цвет фона при наведении курсора мыши */
}

.main-nav li.active {
    background-color: #005F44; /* Цвет фона при наведении курсора мыши */
}

.tags li {
    display: inline-block; /* Строчно-блочные элементы */
    margin-right: 3px; /* Расстояние между пунктами меню */
    margin-bottom: 0px; /* Расстояние между пунктами меню */
}

.taglist {
    /*float: right;*/
}

.highlight pre {
    background-color: #aaaaaa;
    outline: 1px;
}
